@media (max-width: 900px){
	.team__content {
		display: block;
	}
	.team__intro {
		margin: 0 auto;
		padding-top: 10px;
	}
}
@media (max-width: 788px){
	header {
		height: auto;
		padding-bottom: 10px;
	}
	.slick-dots {
		display: none!important;
	}
	.header__text {
		width: 80%;
	}
	.footer__content {
		display: block;
	}
}
@media (max-width: 690px){
	.header__btn-menu {
		display: block;
	}
	.nav ul {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		margin-top: 15px;
		z-index: 50;
	}
	.nav li {
		display: block;
		text-align: center;
		right: 65px;
		position: relative;
	}
	.nav a{
        display: block;
    }
    .foto__text {
    	width: 80%;
    }
    .new__form-content {
    	display: block;
    }
    .new__form-left {
    	margin: 0 auto;
    }
    .new__form-right {
    	margin: 0 auto;
    	padding-top: 50px;
    }
}
@media (max-width: 600px){
	.slider {
		width: 100%;
	}
}
@media (max-width: 520px){
	.slick-dots {
		display: none!important;
	}
	.story__content {
		display: block;
	}
}
@media (max-width: 480px){
	.expertise__content-top {
		display: block;
	}
	.expertise__content-bottom {
		display: block;
	}
	.expertise__inrto {
		padding: 15px 15px 0px 15px;
		margin: 0 auto;
	}
}
@media (min-width: 691px){
    .nav ul{
        display: block !important;
    }
}